@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    background: black !important;
}

body {
    margin: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    // left: 50%;
    // margin-left: -50%;
}

.swiper-slide {
    background-size: cover;
    box-sizing: border-box;
    padding: 8em 3em;
    color: white;
    font-family: 'Montserrat';
    background-size: cover !important;

    h1 {
        font-size: 5em;
        line-height: 1em;

        &::before {
            content: ' ';
            position: absolute;
            top: 1em;
            width: 50%;
            height: 40%;
            border-top: 1px solid #FFF;
            border-bottom: 1px solid #FFF;
        }
    }

    p {
        font-size: 1.2em;
        line-height: 1.5em;
        margin-top: 7em;
    }
}

.slide1 {
    background: url('../imgs/flowers3.jpg');


    h1::before {
        border-left: 1px solid #FFF;
        right: 0;
    }
}

.slide2 {
    background: url('../imgs/leaves.jpg');


    h1::before {
        border-right: 1px solid #FFF;
        left: 0;
    }

    h1::after {
        border-left: 1px solid #FFF;
        right: 0;
        content: ' ';
        position: absolute;
        top: 1em;
        width: 20%;
        height: 40%;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
    }
}

.slide3 {
    background: url('../imgs/night.jpg');


    h1::before {
        border-right: 1px solid #FFF;
        left: 0;
    }
}

.swiper-button-next,
.swiper-button-prev {
    top: 85% !important;
    outline: none;
}

.swiper-button-next {
    right: 3em !important;
}

.swiper-button-prev {
    left: 3em !important;
}